$color-primary: #313131;
$color-white: #fff;
$color-gray: #d0d0d0;
$color-red: #f54932;
$color-blue: #3057a2;

$color-logo: #595653;
$black-button: #1f1f1f;
$black-button-hover: #fbce51;
$color_dark: #151515;
$color_dot: #d9d9d9;
$bg-gallery: #ecdecb;
$bg-footer: #e9ded4;

