@import '../../assets/styles/vars.scss';

.button {
	flex-basis: 50%;
	transition: all .4s ease;
	cursor: pointer;
	box-sizing: border-box;
	border: 1px solid $black-button;
	padding: 2rem 0;

	@media (max-width:640px){
		width: 100%;
		padding: 1.8rem 0;
	}
}

.button_style_black {
	background-color: $black-button;
	color: $text-white;
	padding-left: 4.9rem;
	padding-right: 4.9rem;
	font-family: inherit;
	border-radius: 6.6rem;
	font-size: 1.6rem;
	font-size: calc(1.6rem + (2 - 1.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
	line-height:1.92rem;
	font-weight: 600;	

	&:hover {
		background-color: $black-button-hover;
		color: $black-button;
		border: 1px solid $black-button-hover;
	}

	@media (max-width:640px){
		margin-bottom: 1.4rem;
	}
}

.button_style_white {
	color: $black-button;
	padding: 2rem 5.5rem;
	font-family: inherit;
	border-radius: 6.6rem;
	font-size: 1.6rem;
	line-height:1.92rem;
	font-weight: 600;	
	border: .2rem solid $black-button;

	&:hover {
		background-color: $black-button;
		color: $text-white;
	}

	@media (max-width:640px){
		// margin-bottom: 1.4rem;
	}
}
