@import '../../assets/styles/config/_mixins.scss';
@import '../../assets/styles/config/_colors.scss';

.title {	

	&__text {
		@include title;
	}

	&__span {
		@include blue-text;
		max-width: 28rem;
		min-height: .1rem;
		display: inline-block;

		@include mq(640) {
			width: 100%;
		}
	}
}