@import '../../assets/styles/config/_colors.scss';
@import '../../assets/styles/config/_mixins.scss';

.logo {
	max-width: 24.5rem;
	display: flex;
	padding-top: 2.6rem;

	&__horses {
		display: flex;
		padding-bottom: 6.2rem;

		@include mq(640) {
			padding-bottom: 4rem;
		}
	}

	&__horse {
		width: 2.1rem;
	}

	&__name {
		color: $color-logo;
		text-transform: uppercase;	
		font-weight: 700;
		@include font-size(1.6, 1.79);
		padding-left: .6rem;
		display: flex;
	}
}
