@import '../../assets/styles/config/_colors.scss';
@import '../../assets/styles/config/_mixins.scss';

.header {
	overflow: hidden;
	flex: 0 0 auto;
	position: relative;

	&__content {
		max-width: 53.9rem;				
	}

	&__bg {
		max-width: 100%;
		border: 5px solid #ff0000;
	}

	&__background {
		position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
		// border: 5px solid #000;

		@include mq(1337, 4000) {
			// object-fit: scale-down;
			// object-fit: cover;
		}
	}

	&__title {	
		font-family: 'Merriweather', serif;
		text-transform: uppercase;
		// @include font-size(3.6, 3.96);
		font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		letter-spacing: 1.24px;
		padding-bottom: 2.4rem;
		font-weight: 300;

		@include mq(1337, 4000) {
			// @include font-size(6, 6.6);
			// font-weight: 700;
			font-size: 6rem;
			line-height: 6.6rem;
		}
 	}

	&__title-left {
		// font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		// line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
	}

	&__title-center {
		// font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		// line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		text-align: center;
	}

	&__title-right {
		// font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		// line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		text-align: right;
	}

	&__subtitle {
		@include font-size(1.8, 2.34);
		font-family: inherit;
		text-align: center;	
		padding-bottom: 3.2rem;
		
		@include mq(640) {
			text-align: left;
			padding-bottom: 2.4rem;
		}
	}

	&__buttons {
		display: flex;
		max-width: 53.9rem;	
		gap: 1.25rem;
		flex: 50% 50%;
		justify-content: space-between;
		padding-bottom: 12.5rem;
		
		@include mq(640) {
			display: block;
			max-width: 100%;			
			padding-bottom: 32.9rem;
		}
	}
}
