@import '../../assets/styles/vars.scss';

.header {
	background-image: url('../../assets/images/bg-header.svg');
	background-repeat: repeat-x;
	overflow: hidden;

	@media (max-width:640px){
		background-image: url('../../assets/images/bg-mobile.svg');	
		background-repeat: no-repeat;	
		background-size: 100% 100%;
		overflow: hidden;
	}

	&__content {
		max-width: 54.2rem;		
		padding-bottom: 12.5rem;
	}

	&__title {		
		font-family: $font-family-title;
		text-transform: uppercase;
		line-height: 6.5rem;
		padding-bottom: 2.4rem;
	}

	&__title-left {
		font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
	}

	&__title-center {
		font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		text-align: center;
	}
	&__title-right {
		font-size: calc(3.6rem + (6 - 3.6) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		line-height: calc(3.96rem + (6.5 - 3.96) * ((100vw - 37.5rem) / (133.6 - 37.5)));
		text-align: right;
	}
	&__subtitle {
		font-family: inherit;
		text-align: center;
		font-size: 1.8rem;
		line-height: 2.34rem;
		padding-bottom: 4rem;

		@media (max-width:640px){		
			text-align: left;
		}
	}

	&__buttons {
		display: flex;
		gap: 1.6rem;
		flex: 50% 50%;
		justify-content: space-between;

		@media (max-width:640px){
			display: block;
		}
	}

	&__running-line {
		font-size: 16px;
		animation: marquee 15s infinite linear;
		font-size: sans-serif;
	}

	&__running-line {
		background-color: $bg-running-line;
		color: $text-white;
		padding: 1.6rem;
		text-transform: uppercase;
	}
}