@import './assets/styles/GlobalStyle.scss';
@import './assets/styles/config/colors';
@import './assets/styles/config/mixins';

#root {
	max-width: 136.6rem;			
  margin: 0 auto;
	padding: 0;
}

.app {
	font-family: 'Golos Text', sans-serif;
	margin: 0 auto;
	color: $color-primary;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	padding: 0 7.2rem;
	
	@include mq(673) {
		padding: 0 $container_padding-673;
	}
}
